body {
    background: #666;
    color: #ff843d;
}

ul.hover_block li {
    list-style: none;
    float: left;
    background: #fff;
    padding: 10px;
    width: 300px;
    position: relative;
    margin-right: 5px;
}

ul.hover_block li a {
    display: block;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 268px;
    padding: 16px;
    color: #000;
    font: 1.6em / 1.3 Helvetica, Arial, sans-serif;
    opacity: 0.8
}

ul.hover_block li a {
    text-decoration: none;
}

ul.hover_block li img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

#img_container {
    width: 1050px;
    height: 250px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#img_container li a {
    font-size: large;
    font-family: sans-serif;
}

strong {
    font-weight:bold;
    color: #22AA00;
}
